services:
  - type: web
    name: telegram-roulette-frontend
    env: static
    buildCommand: npm install && npm run build
    staticPublishPath: ./dist
    envVars:
      - key: VITE_API_URL
        sync: false
    headers:
      - path: /*
        name: Cache-Control
        value: no-cache
